{% extends 'base.html'%}


{% block styles%}
    {{super()}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock%}
{% block content%}
<div class="container" style="background-color: blue;"></div>
    <div class="row">
        <div class="col-md-2 col-lg-2 col-xs-1"></div>
        <div class="col-md-8 col-lg-8 col-xs-10 ">
            <ul class="list-index ">
                {% for pitch in pitches.items%}
                <li class="jumbotron " style="padding-left:40px ; list-style-type: none; background-color: rgb(207, 182, 240);">                 
                    <div class="card mb-6 bg-dark text-white">
                        <div class="card-body">
                            <img src="https://media.giphy.com/media/56ikf9jD4ZK6s/giphy.gif" alt="" style="width:25%; float: left;">
                            <h2 class="card-title" style="color:rgba(42, 8, 189, 0.911)"> {{pitch.pitch_category}}</h2>
                            <h4><span></span><a href="{{url_for('main.posted',username=pitch.user.username)}}">By: {{pitch.user.username}}</a></h4>
                            <p class="card-text" style="color:rgba(42, 8, 189, 0.911)">{{pitch.pitch}}</p>
                            <p class="card-text" style="color:rgba(42, 8, 189, 0.911)">Posted On: {{pitch.posted.strftime('%Y-%m-%d')}}<span></span></p>
                            <p><span></span>Likes: {{pitch.upvotes}}   <span></span>  Dislikes: {{pitch.downvotes}}</p>
                        </div>
                        <a href="{{url_for('main.comment',pname=pitch.id)}}"><i class="fa fa-comment" style="font-size:36px;color:rgb(46, 130, 209)" aria-hidden="true"></i></a> <span><span><a href="{{url_for('main.comment',pname=pitch.id)}}"><i class="fa fa-thumbs-up" style="font-size:36px;color:rgb(5, 172, 5)" aria-hidden="true"></i>
                        </a></span> <span><a href="{{url_for('main.comment',pname=pitch.id)}}"><i class="fa fa-thumbs-down" style="font-size:36px;color:rgb(187, 12, 12)" aria-hidden="true"></i>
                        </a></span></span>
                    </div>              
                </li>
                <br>
                {%endfor%}
            </ul>
        </div>
        <div class="col-md-2 col-lg-2 col-xs-1"></div>
    </div>
</div>
{% endblock %}

<style>
    .jumbotron{
        background-color: rgb(76, 5, 143);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
</style>